<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feature.main">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCG9cDE1p6FSNU5KabUE1xmFAzItM0ct7A" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.feature.main.MainActivity">
            <intent-filter>
                <action android:name="com.azexpress.app.feature.main.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.account.edit_account.EditAccountActivity" />
        <activity android:name=".ui.work.detail.DetailWorkActivity" />

        <service android:name=".service.LocationService"/>
    </application>
</manifest>
